<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

    <h1>What shall <%= currentPlayer %> play? </h1>

    <form action="/turnMulti" method="post">
        <input id="rock" type="submit" value="rock" name="choice">
        <input id="paper" type="submit" value="paper" name="choice">
        <input id="scissors" type="submit" value="scissors" name="choice">
        <h1>Plus additional options...</h1>
        <input id="paper" type="submit" value="lizard" name="choice">
        <input id="scissors" type="submit" value="spock" name="choice">
    </form>


</body>

</html>