<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>

        <p>
            <%=`${currentPlayerName}`%> picked <%=`${currentPlayerWeapon}` %>
        </p>
        <p>
            <%=`${otherPlayerName}` %> picked <%= `${otherPlayerWeapon}` %>
        </p>
    </h1>
    <a id="turn-link" href="/result">See result!</a>
</body>

</html>