<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>
    <%= `${currentPlayer.name}` %>
      <p>You picked <%= `${weapon}` %>
      </p>
      <p>Computer picked <%= `${computerWeapon}` %>
      </p>
  </h1>
  <a id="turn-link" href="/result">See result!</a>
</body>

</html>